# Node modules
node_modules/

# Pliki środowiskowe
.env
frontend/.env
backend/.env

# Logi
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Katalogi build (jeśli są używane)
dist/
build/

# Test coverage
coverage/

# Pliki systemowe
.DS_Store
Thumbs.db

# Konfiguracja IDE i edytorów
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Pliki tymczasowe
*.log
*.tmp
