# Ignoruj zależności Node
node_modules/

# Można też precyzyjnie:
# frontend/node_modules/
# backend/node_modules/

# Ignoruj pliki build
build/
dist/

# Ignoruj pliki .env
.env
frontend/.env
backend/.env

# Logi
*.log
